<a href="https://colab.research.google.com/github/ialimustufa/python-crash-course/blob/master/Python_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Loops:**
In general, statements are executed sequentially. The first statement in a function is executed first, followed by the second, and so on.

There may be a situation when you need to execute a block of code several number of times
A loop statement allows us to execute a statement or group of statements multiple times. 

In Python, there are three loops:

1.  While
2.  For
3.  Nested

**While loop:**

Here, first the condition is checked and if itâ€™s true, control will move inside the loop and execute the statements inside the loop until the condition becomes false. We use this loop when we are not sure how many times we need to execute a group of statements or you can say that when we are unsure about the number of iterations.

In [ ]:
count = 0
while (count < 10):
                print ( count )
                count += 1
 
print ("While loop end")
print (count)

0
1
2
3
4
5
6
7
8
9
While loop end
10

**For Loop:** 

Like the While loop, the For loop also allows a code block to be repeated certain number of times. The difference is, in For loop we know the amount of iterations required unlike While loop, where iterations depends on the condition.

In [ ]:
food = ['Spinach', 'Mango', 'Tomato'] # Iterate through the elements in the Lists

for i in range(len(food)):
                          print (food[i])

Spinach
Mango
Tomato

In [ ]:
food = ['Spinach', 'Mango', 'Tomato'] 
print (food[1])

Mango

In [ ]:
family = {'Dad':'Goku', 'Mom':'Chichi', 'No. of Children':2} # iterate through two things at once (using tuple )
for key, value in family.items():
    print(key, value)

Dad Goku
Mom Chichi
No. of Children 2

In [ ]:
#An example of for-each loop
food = ['Spinach', "Tomato","Mango"] 
for i in food:
    if i == 'Mango':
        m = 1
        print('Found Mango!')
            # exit the loop and skip the 'else' block
        break
else :
    print("Can't find Mango")

Can't find Mango

**Nested Loops**

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [ ]:
colour = ["Red", "Yellow", "Green"]
fruits = ["Apples", "Mangoes", "Grapes"]

for x in colour:
  for y in fruits:
      print(x +" -", y)

Red - Apples
Red - Mangoes
Red - Grapes
Yellow - Apples
Yellow - Mangoes
Yellow - Grapes
Green - Apples
Green - Mangoes
Green - Grapes

In [ ]:
colour = ["Red", "Yellow", "Green"]
fruits = ["Apples", "Mangoes", "Grapes"]


for x,y in zip(range(len(colour)), range(len(fruits))) :
    print(colour[x],fruits[y])

Red Apples
Yellow Mangoes
Green Grapes

In [ ]:
colour = ["Red", "Yellow", "Green"]
fruits = ["Apples", "Mangoes", "Grapes"]
surface = ["Smooth", "Rough"]

for x in colour:
  for y in fruits:
      for z in surface:
        print(x +" -", y +" -", z)

Red - Apples - Smooth
Red - Apples - Rough
Red - Mangoes - Smooth
Red - Mangoes - Rough
Red - Grapes - Smooth
Red - Grapes - Rough
Yellow - Apples - Smooth
Yellow - Apples - Rough
Yellow - Mangoes - Smooth
Yellow - Mangoes - Rough
Yellow - Grapes - Smooth
Yellow - Grapes - Rough
Green - Apples - Smooth
Green - Apples - Rough
Green - Mangoes - Smooth
Green - Mangoes - Rough
Green - Grapes - Smooth
Green - Grapes - Rough

In [ ]:
colour = ["Red", "Yellow", "Green"]
fruits = ["Apples", "Mangoes", "Grapes"]
surface = ["Smooth", "Rough", "Soft"]

for x,y,z in zip(range(len(colour)), range(len(fruits)), range(len(surface))) :
    print(colour[x],fruits[y],surface[z])

Red Apples Smooth
Yellow Mangoes Rough
Green Grapes Soft

In [ ]:
#Matrix Example
# for loop to flatten a 2d-matrix
matrix = [[1, 2], [3, 4]]
matrix2 = []
for i in matrix:
    for j in i:
        matrix2.append(j)
print (matrix2)

[1, 2, 3, 4]

In [ ]:
# populate a dictionary using a for loop
name = ['Naruto', 'Ryuzaki', 'Vegeta', 'Kuroko', 'Zoro', 'Hina']
weight = [15, 18, 17, 30, 25, 23]
dictionary = {}

for i in range(0,6):
    dictionary[name[i]] = weight[i]

dictionary

{'Hina': 23,
 'Kuroko': 30,
 'Naruto': 15,
 'Ryuzaki': 18,
 'Vegeta': 17,
 'Zoro': 25}

In [ ]:
# Lets print some shapes to get comfortable with loops

# pyramid
for i in range(10):
    print((10-i)*' ' + i*'* ')

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *

In [ ]:
# half diamond
for i in range(10):
    if i < 6:
        print(i*' *')
    else:
        print((10 - i)*' *')

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * *
 * * *
 * *
 *

# **Functions:**

Functions are a convenient way to divide your code into useful blocks, allowing us to order our code, make it more readable, reuse it and save some time.

**Define a function with no arguments and no return values:**

In [ ]:
def print_text():
    print('this is text')

In [ ]:
# call the function
print_text()

this is text

**Define a function with one argument and no return values:**

In [ ]:
def print_this(x):
    print(x)

In [ ]:
# call the function
print_this(3)

3

**Define a function with one argument and one return value:**

In [ ]:
def square(x):
    return x**2
square(5)

25

In [ ]:
#Example

def calc(a, b, op='add'):

    if op == 'add':
        return a + b

    elif op == 'sub':
        return a - b
        
    else:
        print('valid operations are add and sub')

In [ ]:
# call the function
calc(10, 4, op='add')

14

In [ ]:
# unnamed arguments are inferred by position
calc(10, 4, 'add')

14

In [ ]:
# default for 'op' is 'add'
calc(10, 4)

14

In [ ]:
calc(10, 4, 'sub')

6

**Use pass as a placeholder if you haven't written the function body:**

In [ ]:
def stub():
    pass

**Return two values from a single function:**

In [ ]:
def min_max(nums):
    return min(nums), max(nums)

In [ ]:
# return values can be assigned to a single variable as a tuple
nums = [1, 2, 3]
output = min_max(nums)
output

(1, 3)

# **Anonymous Functions (Lambda Functions)**
Primarily used to temporarily define a function for use by another function.
* Anonymous
* Single use, simple 1=line function
* Throw-away functions

**Syntax :**

`lambda arguments : expression`

**Here are some single-argument Lambdas:**

In [ ]:
add10 = lambda x : x + 10
print (add10(5))

15

In [ ]:
square = lambda x : x * x
print (square(10))

100

**Sorting a List of Tuples using Lambda**

In [ ]:
List = [('carrots', 20), ('potatoes', 50), ('cabbage', 25), ('peas', 15)]

List.sort (key = lambda x : x[0])
print (List)

[('cabbage', 25), ('carrots', 20), ('peas', 15), ('potatoes', 50)]

**Sorting a list of Dictionaries using Lambda**

In [ ]:
List1 = [{'Game': 'GTA5', 'Company': 'Rockstar Games', 'Year': 2013} , {'Game': 'Jump Force', 'Company': 'Bandai Namco', 'Year': 2018} , {'Game': 'Fortnite', 'Company': 'Epic Games', 'Year': 2017}]
Output = []
Output = sorted (List1, key = lambda x : x['Company'])
print (Output)

[{'Game': 'Jump Force', 'Company': 'Bandai Namco', 'Year': 2018}, {'Game': 'Fortnite', 'Company': 'Epic Games', 'Year': 2017}, {'Game': 'GTA5', 'Company': 'Rockstar Games', 'Year': 2013}]

# **Map, Filter and Reduce**

**Map Function**

The Map function `map()` :

*   Applies a function to every element of a sequence 
*   Returns the modified list

In [ ]:
L1 = ['Unity', 'Unreal', 'Godot']
mapping = (map(len, L1)) #where len is the function and L1 is the list name which are the parameters of the map function 
for i in mapping: 
  print(i)

5
6
5

In [ ]:
#lambda function on list using Map

n1,n2 = [3,5,7,9],[]
n2 = list((map(lambda x : x **2, n1)))
print(n2)

[9, 25, 49, 81]

**Filter Function**

The Filter Function `filter()` :

* Filters items out of a sequence
* Return filtered list

In [ ]:
nums = range(5)
filtering = filter(lambda x: x % 2 == 0, nums) #where this lambda function describes the condition and nums is the set of numbers ranging between 0-5
for i in filtering:
    print(i)

0
2
4

In [ ]:
n1,n2 = [3,5,7,9], []
n2 = list(filter(lambda x : x > 5 , n1))
print (n2)

[7, 9]

**Reduce Function**

The Reduce Function `reduce()` :

* Applies same operation to items of a sequence
* Uses result of operation as first parameter of next operation
* Returns an item, not a list

 It returns a single value after applying a function on an iterable example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates ((((1+2)+3)+4)+5).

In [ ]:
from functools import reduce
data = [4,3,2,1]
reduce(lambda x,y: x * y, data)

24

In [ ]:
#day 2 - HW

         *      
        * * 
       * * * 
      * * * * 
     * * * * * 
      * * * * 
       * * * 
        * * 
         *

#make a function, get input from user, pass it as a parameter to the function, and print the dimond shape

#input from the user can be anything like "$,@,1,A"